*{
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 230, 230);
}
/*-----------navbar section----------------*/
.navbar{
    
    z-index:10;
    height: 60px;

}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: #f97300;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
}
#headerlogo{
    width: 60px;
    height: 60px;
}
/*---------------head section---------------*/
.header{
    background-image: url(./header6.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.24);
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    position: absolute;
}
.description{
    top:30%;
    margin:auto;
    padding: 2em;
    position: absolute;
}
#Home h1{
    color: white;
    font-size: 50px;
}
#Home h2{
    color: #f97300;
}
#Home p{
    color: white;
    font-size: 20px;
    width: 60%;
    line-height: 1.5;
}
.description button, .navbar button{
    border: 1px solid #f97300;
    background-color: #f97300;
    color: white;
    border-radius: 20px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar button{
    margin-left: 20px;
}
/*---------------About me section---------------*/
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.case2{
    border-left: 3px solid teal;
    position: relative;
}
.case2 p{
    width: 600px;
}
.case2 h3{
    color: teal;
    left: 20px;
    margin-bottom: 10px;
}
.case1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artecle{
    position: relative;
    margin: 7em 0;
}
/*-------------------portfolio section----------------*/
#port{
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.item img{
    width: 330px;
    height: 230px;
}
.item{
    transition: 1s;
}
.port .container{
    width:70rem;
}
.item:hover{
    transform: scale(1.2);
}
/*-------------------blog section----------------
.blog .container {
    width: 70rem;
}
.blog .card{
    border: 10px solid rgb(233, 230, 230);
    box-shadow: 0 0 20px gray;
    transition: 1s;

}
.blog .card img{
    height: 200px;

}
.blog .card-body a{
    font-weight: bold;
    text-decoration: none;
}

.blog .card:hover{
    transform: scale(1.1);
}
/*-------------------team section----------------
.card{
    background-color: transparent;
}
#team{
    background-color: rgb(184, 221, 243);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.team .container {
    width: 70rem;
    margin-bottom: 100px;
}
.team img{
    height: 250px;
}
.tean .row{
    width: 100%;
}
.name{
    background-color: #f97300;
    height: 100%;
    border-bottom-left-radius: 100%;
}

.job{
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
.team .card{
    border-bottom-left-radius: 100%;
    border: 10px solid transparent ;
}
.team .card-body{
    height: 30px;
}*/
/*-------------------footer section----------------*/
.foot{
    background-color: #555;
    padding-top: 20px;
}
.icon i{
    color:#f97300;
    transition: 1s;
}
.icon i:hover{
    color: #f90000;
    transform: scale(1.5);
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content:center
}
form{
    display: flex;
    flex-direction: column;
}
form textarea{
    height: 100px;
}
form button{
    color: white;
    background-color: #f97300;
    border: #f97300;
}
